= form_for @record_type, class: 'form-horizontal' do |f|
  - if @record_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@record_type.errors.count, "error")} prohibited this record_type from being saved:"
      %ul
        - @record_type.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'control-label'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
